/*  your css code here. If applicable */
#yellow {
  background-color: yellow;
  border: 1px solid green;
  padding: 6px;
  font-size: 12px;
}

#red {
  background-color: red;
  border: 1px solid black;
  padding: 6px;
  font-size: 12px;
}

#green {
  background-color: green;
  border: 1px solid yellow;
  padding: 6px;
  font-size: 12px;
  color: white; 
}
